# macOS
.DS_Store
*.app

# Build generated
.build/
.swiftpm/

# Xcode
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.user
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
*.xcuserstate
xcuserdata/
DerivedData/

# Swift Package Manager
Package.resolved
/Packages
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

# Temporary files
*.tmp
*.temp
.netrc
